body
{
    background-color: #b9c7ea;
    padding-top: 80px
;
padding-right: 140px
;
    padding-bottom: 80px
;
    padding-left: 140px
;  
}
.three .about .info div.text{
    letter-spacing: 1px;


}
i:hover
{
    color: #8c9fbd;
}
.container
{
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 100%;
    background-color: white;
    height: 545px;
}
.one{
    width: 112px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}
.bar
{
    height: 10%;
    background-color: #131718cc;
}
.element
{
    height: 80%;
}
i
{
    color: purple;
    font-size: 15px;
}
.bar p 
{
    align-content: center;
}
.download i 
{
    font-size: 40;
}
.download
{
    align-content: center;
}
.bar center p  i 
{
    font-size: 32px;
    color: white;
    margin-top: -4px;
}
.element ul 
{

    font-size: 50px;
    align-content: center;
    list-style: none;
    position: relative;
    top: 20%;
    left: -10px;


}
.download
{
    height: 10%;

} 
.two{
    box-shadow: 10px 10px 46px 2px rgb(0 0 0 / 75%);
    width: 37%;
    height: 610px;
    margin-top: -31px;
    background-size: cover;
    background-image: url(https://scontent.ftun16-1.fna.fbcdn.net/v/t1.6435-9/163887431_3842512802498924_5208475084572849958_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=730e14&_nc_ohc=uE1UTCLULKMAX_CwKRh&_nc_oc=AQljoiUPaZg-1LflJOZN_rNxOGjFESkDSW17kXgQcYmXyQw0pfd_cJJ3qrSs7t2qKlE&_nc_ht=scontent.ftun16-1.fna&oh=5c2a93e53b775153ded564024af731cd&oe=61A489FE)
}
.three{
    width: 66%;
    overflow: auto;

}
.list
{
    margin-top: -10px;
    display: inline-flex;
    color: purple;
    font-weight: bold;
    font-size: 22px;
}
.list p 
{
    margin-right: 15px ;
}
.list p.slash
{
    font-size: 23px;
    color: #40575c;
    margin-bottom: 0;
    font-weight: bold;
}
.about , .services-container
{
    padding: 20px;
}
.about h1 , .services-container h1{
    font-size: 50px ;
    margin-bottom: 0px;
    margin-left: 50px;
}
.services
{
    display: flex;
    align-content: space-between;

}
.services-container .services .service 
{
  
    margin-right: 72px;
}
.services .service h2,h4{
    margin-top: 7px;
    margin-bottom: 0px;
}
.services
{
    margin-top: 20px;
}
.services-container
{
    margin-top: -48px;
}
.services i{
    font-size: 40px;
    align-content: center;
    justify-items: center;
}
.info ,.services
{
    padding: 0 50px;
}
.container:nth-of-type(1)
{
    flex-shrink: 3;
}

.circular{
    height:100px;
    width: 100px;
    position: relative;  
    border:solid solid #00800000 1px 1px;
  }
  .circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: white;
    border-radius: 100%;
  }
  .circular .number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:18px;
    font-weight:500;
    color:#4158d0;
  }
  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #4158d0;
  }
  .circle .left .progress{
    z-index:1;
    animation: left 4s linear both;
  }
  @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  .circle .right .progress{
    animation: right 4s linear both;
    animation-delay:4s;
  }
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }